<div class='<%=(todoModel.completed) ?  "todos-item __done" : "todos-item" %>'
        style='display:<%
            switch (currentFilter) {
                case 'todos-filter __all': {%>
                    <%="block"%>
                    <%} break;%>

                <%case 'todos-filter __completed':{%>
                    <%=(todoModel.completed) ?
                        "block" : "none"%>
                    <%} break;%>

                <%case 'todos-filter __active':{%>
                    <%=(todoModel.completed) ?
                        "none" : "block"%>
                    <%} break;}%>'
        id=<%=todoModel.id%>>

    <div class="todos-item_checkbox todos-item_belonging-checkbox">

        <input class="todos-item_checkbox-ready-mark"
               aria-label='<%=(todoModel.completed) ?
                       "mark done" :
                       "mark undone"%>'
               <%=(todoModel.completed) ? checked="checked" : ""%>
               type="checkbox"
        />
        <div class="todos-item_checkbox-ready-mark-w">
            <div class="todos-item_checkbox-ready-mark-icon">
            </div>
        </div>

    </div>

    <div class="todos-item_delete-w">

        <div class="todos-item_delete_icon"></div>

        <button class="todos-item_delete" aria-label="delete item">
        </button>

    </div>

    <div class="todos-item_name-w">
        <textarea class="todos-item_name"><%=todoModel.text%></textarea>

    </div>

</div>
